@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-primary: #ffaa01;
    --main-accent: #e6a901;
    --gray-primary: #383b42;
    --accent-light-gray: #ffffff9d;
    --accent-black: #24272c;
    --white: #fff;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    background-color: var(--accent-black) !important;
    color: var(--white);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden !important;
}


.btn {
    background-color: var(--main-primary) !important;
    color: var(--white) !important;

    &:hover {
        background-color: var(--main-accent) !important;
    }
}

.btn-variant {
    border: 1.5px solid var(--accent-light-gray) !important;
    background-color: transparent !important;
    color: var(--accent-light-gray) !important;

    &:hover {
        background-color: var(--main-accent) !important;
        color: var(--white) !important;
        border-color: var(--main-accent) !important;
    }
}

.btn-secondary {
    border: none !important;
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
    color: var(--accent-light-gray) !important;

    &:hover {
        color: var(--white) !important;
        border-color: var(--main-accent) !important;
    }
}

.staking-nft-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 180px;
    gap: 0.45em;
}

.marketplace-items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 0.45em;
}

.staking-items {
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-auto-rows: max-content;
    gap: 0.45em;
}

@media screen and (max-width:651px) {

    .marketplace-items,
    .staking-items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
        justify-content: center;

        .nft-item {
            grid-column: 1 / 2;
        }
    }
}